@using atlas_the_public_think_tank.Models.ViewModel.CRUD.Issue
@model Issue_ReadVM
@*
    Layout of the stat icons seen on issues
   
*@

@{
    Console.WriteLine();
}


<div class="issue-card-stat-icons text-nowrap">
    
    <span role="button" tabindex="0" aria-label="Solutions: @(Model?.PaginatedSolutions.ContentCount.FilteredCount)" class="stat-icon-link go-to-content-item-solution-tab position-relative" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">
        <div class="position-absolute content-count solution-count" style="">
            @(Model?.PaginatedSolutions.ContentCount.FilteredCount)
        </div>
        @await Html.PartialAsync("~/Views/Shared/Icons/_Solutions.cshtml")
    </span>
    <span role="button" tabindex="0" aria-label="Sub Issues: @(Model?.PaginatedSubIssues.ContentCount.FilteredCount)" class="stat-icon-link go-to-content-item-sub-issue-tab position-relative" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">
        <div class="position-absolute content-count sub-issue-count" style="right: -11px">
            @(Model?.PaginatedSubIssues.ContentCount.FilteredCount)
        </div>
        @await Html.PartialAsync("~/Views/Shared/Icons/_SubIssues.cshtml")
    </span>
    <wbr class="" />
    <span role="button" tabindex="0" aria-label="Comments: @(0)" class="stat-icon-link go-to-content-item-comment-tab position-relative" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">
        <div class="position-absolute content-count comment-count" style="">
            @(0)
        </div>
        @await Html.PartialAsync("~/Views/Shared/Icons/_Comments.cshtml")
    </span>
    @if (Model.ModifiedAt != null && Model.VersionHistoryCount !=null)
    {
        <span role="button" tabindex="0" class="stat-icon-link show-version-history position-relative" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">
            <div class="position-absolute content-count" style="">
                @Model.VersionHistoryCount
            </div>
            @await Html.PartialAsync("~/Views/Shared/Icons/_VersionHistoryIcon.cshtml")
       </span>
    }
    @await Html.PartialAsync("~/Views/Shared/Components/_scope-ribbon.cshtml", Model.Scope)
</div>