@using atlas_the_public_think_tank.Models.ViewModel.UI_VM
@model PaginationButton_VM

@{
    bool isMorePosts = Model.TotalCount > Model.PageSize;
    // NextPageNumber always starts out as 2
    int NextPageNumber = 2;
}

@* This button is managed by setPaginationButtonListener *@
<button @(isMorePosts ? "" : "disabled") 
        id="@Model.ElementId"
        data-url="@Model.Url?currentPage=@NextPageNumber"
        data-target="@Model.Target"
        data-content-type="@Model.ContentType"
        class="mx-auto d-block btn btn-primary">
    <span class="button-text">@(isMorePosts ? "Fetch more "+ @Model.ContentType : "No more " + @Model.ContentType)</span>
    <span class="fullPaginatedCount">
        @* Format == "(NumberOfVisiblePost/TotalNumberOfPost)" *@
        (@(Math.Min(Model.PageSize, Model.TotalCount))/@Model.TotalCount)
    </span>
</button>