@model UserVote_Forum_ReadVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Generate unique IDs using the forum ID
    var dialId = $"vote-dial-{Model.ForumID}";
    var lensId = $"vote-lens-{Model.ForumID}";
    var outlineId = $"vote-outline-{Model.ForumID}";
}

@* forum @Model.ForumID *@
<form method="post" action="/forum/vote"  class="dial" style="width: 100px; height: 190px; user-select:none;">
    
    @Html.Partial("_voteAverage.cshtml")
    
    <div class="vote-dial-toggle @(Model.UserVote.HasValue ? "user-voted" : "") mb-1">
        <div id="vote-toggle-container-@Model.ForumID" class="vote-toggle-container">
            @for (int i = 10; i >= 0; i--)
            {
                var radioId = $"vote-{Model.ForumID}-{i}";
                <input class="" id="@radioId" type="radio" name="@dialId" value="@i" @(i == (Model.UserVote ?? 5) ? "checked" : "") />
            }

            <div id="@lensId" class="lens"></div>

            <div id="@outlineId" class="outline"></div>
          
            @for (int i = 11; i >= -1; i--)
            {
                var radioId = $"vote-{Model.ForumID}-{i}";
                var optionClass = $"vote-option-{Model.ForumID}-{i}";
                <label role="button" for="@radioId" class="toggle-option @optionClass">
                    <span>@(i == 11 || i == -1 ? "" : i.ToString())</span>
                </label>
            }
        </div>
    </div>    
    
    @Html.Partial("_voteCount.cshtml")
  
</form>

 <style>

        /* Position the lens based on which radio is selected */     
        @for (int i = 10; i >= 0; i--)
        {
            var radioId = $"vote-{Model.ForumID}-{i}";
            var optionClass = $"vote-option-{Model.ForumID}-{i}";
            <text>
            #@radioId:checked ~ .lens {
                transform: translateY(@(36 * (11 - i))px);
                z-index: 1;
            }
            #@radioId:checked ~ .@optionClass {
                color: #ffffff; /* Make text white when selected */
            }
            </text>
        }

        /* Style for the labels */
        @for (int i = 11; i >= -1; i--)
        {
            var optionClass = $"vote-option-{Model.ForumID}-{i}";
            <text>
            .@optionClass {
                position: absolute;
                width: 100%;
                top: @(36 * (11 - i))px;
                @if(i == 11 || i == -1) {
                    <text>opacity: 0.5; /* Make buffer options semi-transparent */</text>
                }
            }
            </text>
        }

      
 </style>    
        
       

 <script>

     


    </script>

