@*
    This is the home page of the app.
    Specifically the main section of that page.
    The layout file contains the sidebar and header.
*@


@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";

    int NextPageNumber = Model.PaginatedPosts.CurrentPage + 1;
}

<div class="container-fluid">
    <div class="row">
        <!-- Main content with issues -->
        <div class="col-lg-9 px-0">
            <div id="main-content">

            <div class="my-3">
                <a href="@Url.Action("CreateIssue","Issue")" class="btn btn-primary fw-bold outlined-text fs-5 mb-1 mb-md-0" styfs-5" style="color:var(--call-to-action-theme-color)">Create New Issue</a>
                <a href="@Url.Action("CreateSolution","Solution")" class="btn btn-primary fw-bold outlined-text fs-5 mb-1 mb-md-0" styfs-5" style="color:var(--call-to-action-theme-color)">Create New Solution</a>
            </div>

            <div class="d-flex justify-content-center mb-3">
                @Html.Partial(
                    "~/Views/Shared/Components/_gradient-border.cshtml",
                     @"
                        <a target=""_blank"" href=""https://www.youtube.com/watch?v=ULjr4gNmb9s"" class=""fw-bold text-primary "" style=""text-decoration:none; "">
                            Inspiration for this website
                        </a>
                      ")
                </div>

            @if (Model.PaginatedPosts != null && Model.PaginatedPosts.Issues.Any())
            {
                @Html.Partial("~/Views/Issue/_issue-cards.cshtml", Model.PaginatedPosts.Issues)
            }
            else
            {
                <div class="alert alert-info">
                    No posts available. Be the first to create a post!
                </div>
            }
            </div>
            <button id="fetchPaginatedPosts" data-next-page="@NextPageNumber" class="mx-auto d-block btn btn-primary">Load more posts (@Model.PaginatedPosts.TotalCount total posts)</button>
           
        </div>
        <partial name="_Home-Page-Right-Sidebar" />
    </div>
</div>

@section Scripts {
    <script>
        // Optional JavaScript to filter posts by category
             document.addEventListener("DOMContentLoaded", function() {
                 $('.category-link').click(function(e) {
                     e.preventDefault();
                     var categoryId = $(this).data('category-id');
                     // You can implement filtering logic here
                     console.log('Filter by category ID:', categoryId);
                 });

                 const paginationButton = document.getElementById("fetchPaginatedPosts")
                 setPaginationButtonListener(paginationButton)

             });
          

    </script>
}